<!DOCTYPE html>
<html lang="en" ng-app="register">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="utils.js"></script>
    <script src="register.js"></script>
    <link rel="stylesheet" href="register.css">
</head>
<body>
<h2>Register</h2>

<div ng-controller="RegisterController">
    <table>
        <tbody>
        <tr>
            <td><label>User Name</label></td>
            <td><input type="text" ng-model="username" placeholder="unique username"
                       ng-change="onChanged.onUsernameChanged()"></td>
            <td><span ng-bind="username_res"></span></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" ng-model="password" placeholder="user password for login"
                       ng-change="onChanged.onPasswordChanged()"></td>
            <td><span ng-bind="password_res"></span></td>
        </tr>
        <tr>
            <td><label>Retype Password</label></td>
            <td><input type="password" ng-model="retype_password" placeholder="retype password again"
                       ng-change="onChanged.onRetypePasswordChanged()"></td>
            <td><span ng-bind="retype_password_res"></span></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" ng-model="email_str"
                       placeholder="email for activation and password reset"
                       ng-change="onChanged.onEmailChanged()"></td>
            <td><span ng-bind="email_res"></span></td>
        </tr>
        <tr>
            <td><input type="button" class="btn-primary" value="submit" ng-click="trySubmit()"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>