
  <!-- the scope of "AddAnnounceCtrl" should be a child of the scope of "MainCtrl" -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h3 class="modal-title" style="margin-top: 6px">{{ elem.subject }}</h3>
  </div>
  <div class="modal-body">
      <p class="create_time"> Created at: {{ elem.create_time }} </p>
      <p class="description"> {{ elem.description }}</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-sm btn-default" ng-click="closeModal()">Close</a>
  </div>
</div>
