<div id="users" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>User Information</h2>
      <br/>
      <button class="btn btn-ln my-btn" ng-click="openRegisterModal()">Add User</button>
      <button class="btn btn-ln my-btn" ng-click="openUsersModal()">Show Users</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo"></span>
    </div>
  </div>
</div>
<div id="announcements" class="container-fluid bg-grey">
	<div class="row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-bullhorn logo"></span>
		</div>
		<div class="col-sm-8">
			<h2>Announcements</h2>
      <div class="well well-lg" style="margin-top:20px">
        <div class="list-group" ng-controller="ListCtrl" ng-init="loadElements_legacy('GetAnnouncementList')">
          <button class="list-group-item"ng-repeat="elem in elems"ng-class="rowClass(elem, elems)"ng-click="openDetailModal('/pages/announcement_detail.html', elem)"> 
          <h4 class="list-item-title"> {{ elem.subject }} </h4>
            <p class="list-item-remarks"style="margin-top: 0px; font-size: 12px"> {{ elem.description }} </p>
            <p class="list-item-remarks"style="margin-top: 0px; font-size: 12px"> {{ elem.create_time }} </p>
          </button>
        </div>
      </div>
			<button class="btn btn-ln my-btn" ng-click="openAddAnnounceModal()">Create</button>
		</div>
	</div>
</div>

<div id="analytics" class="container-fluid">
  <div class="row">
    <div class="col-sm-8" ng-controller="AnalysisCtrl">
      <h2>Analytics</h2>
      <button class="btn btn-ln my-btn" style="margin-top: 10px" ng-click="showMainModal()">Show More</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
    
  </div>
</div>
</div>

