<div ng-controller="CouponsCtrl">
	<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
		<h4 class="modal-title">Your Coupons</h4>
	</div>
	<div class="modal-body">
		<div class="well well-lg">
			<div class="list-group" ng-controller="ListCtrl">
				<button class="list-group-item" ng-repeat="elem in elems" ng-class="rowClass(elem, elems)" ng-click="openDetailModal('/pages/coupon_detail.html')"><h4>{{ elem.name }}</h4>{{ elem.content }}</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
  	<a class="btn btn-sm btn-default" ng-click="closeModal()">Close</a>
	</div>
</div>
