<div class="modal-header">
  <!--<h4 class="modal-title" ng-bind="modal_title"></h4>-->
  <h4 class="modal-title">{{$parent.elem.subject}}</h4>
</div>
<div ng-controller="ListCtrl">
  <div class="well well-lg">
    <div class="list-group" ng-controller="ListCtrl" ng-init="loadElements_legacy('GetMessageList')">
    <div class="alert alert-info" ng-show="isEmpty">
      There is no message regarding to you yet.
    </div> 
    <button class="list-group-item" ng-repeat="elem in elems" ng-click="openDetailModal('/pages/user_messages.html', elem)"> 
    <h4 class="list-item-title"> {{ elem.profile.first_name + ' ' + elem.profile.last_name }} </h4>
      <p class="list-item-remarks"style="margin-top: 0px; font-size: 12px"> {{ elem.element_array[elem.element_array.length-1].msg_content }} </p>
    </button>
  </div>
</div>
</div>
<div class="modal-footer">
</div>
