<div ng-controller="ProfileCtrl">
	<div class="modal-header">
  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
		<h4 class="modal-title">Profile</h4>
	</div>

	<div class="modal-body">
			<form  name="profileForm" role="form" ng-init="profileInit()" autocomplete="off">

				<div class="form-group">
	    		<label  for="firstName">First Name:</label>
	    			<input class="form-control" type="text" ng-model="firstName" id='firstName'>
			</div>

	  		<div class="form-group">
	    		<label for="lastName">Last Name: </label>
	    			<input class="form-control" type="text" ng-model="lastName" id='lastName'>
	    	</div>

	    	<div class="form-group">
				<label for="sex">Gender:</label>
					<select class="form-control" id='sex' ng-model='sex'>
						<option value="M" id='maleOption'>Male</option>
						<option value="F" id='femaleOption'>Female</option>
					</select>
			</div>

	    	<div class="form-group">
				<label for="title">Title:</label>
					<select class="form-control" id='title' ng-model='title'>
						<option value="Mr.">Mr.</option>
						<option value="Ms.">Ms.</option>
						<option value="Dr.">Dr.</option>
						<option value="Prof.">Prof.</option>
					</select>
			</div>

	  		<div class="form-group">
	    		<label for="userCity">User City: </label>
	    			<input class="form-control" type="text" ng-model="userCity" id='userCity'>
	    	</div>

	  		<div class="form-group">
	    		<label for="organizationName">Organization Name:</label>
	    			<input class="form-control" type="text" ng-model="organizationName" id='organizationName'>
	    	</div>

	  		<div class="form-group">
	    		<label  for="organizationType">Organization Type:</label>
	    			<input class="form-control" type="text" ng-model="organizationType" id='organizationType'>
	    	</div>

	  		<div class="form-group">
	    		<label for="organizationCountry">Organization Country:</label>
	    			<input class="form-control" type="text" ng-model="organizationCountry" id='organizationCountry'>
	    	</div>
		</form>
	</div>

	<div class="modal-footer">
		<div>
			<a id='updateButton' class='col-sm-2 btn btn-sm btn-primary' ng-click='profileUpdate()'>Update</a>
			<a id='saveButton' class='col-sm-2 btn btn-sm btn-success' ng-click='profileSave()'>Save</a>
			<a class="col-sm-2 btn btn-sm btn-default" ng-click="closeModal()">Close</a>
		</div>
	</div>
</div>