<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
  <h4 class="modal-title" ng-bind="modal_title"></h4>
</div>
<div ng-controller="ListCtrl">
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table" ng-init="loadExtraElements('Reply')">
        <tbody>
        <tr>
          <td><h4> {{ $parent.elem.subject }} </h4></td>
        </tr>
        <tr>
          <td><b> {{ myExtra.creator }}</b></td>
        </tr>
        <tr>
          <td> {{ $parent.elem.description }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="well well-lg">
      <span ng-bind="text_before_list"></span>
      <div class="list-group"
           ng-init="loadElements('Reply')">
        <button class="list-group-item"
                ng-repeat="elem in elems"
                ng-class="rowClass(elem, elems)"
                ng-click="openDetailModal('/pages/user_detail.html', elem)">
          <p class="list-item-remarks"
             style="margin-top: 0px; font-size: 12px"
             ng-init="loadExtraSubElements('Reply',elem)"
          >
            {{ elem.replierName }}
          </p>
          <h4 class="list-item-title">
            {{ elem.message }}
          </h4>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-sm btn-default" ng-click="closeModal()">Close</a>
</div>
