
<div ng-controller="SearchCtrl">
  <!-- the scope of "AddAnnounceCtrl" should be a child of the scope of "MainCtrl" -->
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <!-- method "closeModal()" inheritated from its parent scope -->
  	<h4 class="modal-title">Search Users</h4>
  </div>			<!-- /modal-header -->
    <form id="SearchForm" name="SearchForm" role="form" ng-submit="submit()" autocomplete="off">
    <div class="modal-body">
      <div class="form-group">
        <label for="lastname">Name</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="search.name" placeholder="Name of the user"/>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city" ng-model="search.city" placeholder="Enter the user's city here..."/>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" name="country" id="country" ng-model="search.country" placeholder="Enter the user's country here..."/>
      </div>
      <div class="form-group">
        <label for="organization">Organization</label>
        <input type="text" class="form-control" name="organization" id="organization" ng-model="search.organization" placeholder="Enter the user's organization here..."/>
      </div>
     
    </div>			<!-- /modal-body -->
    <div class="modal-footer">
    	<button class="btn btn-sm my-btn my-btn-round" type="submit">Sumbit</button>
    	<a class="btn btn-sm btn-default" ng-click="closeModal()">Close</a>
    </div>			<!-- /modal-footer -->
    </form>
</div>
