
<div ng-controller="UserDetailCtrl">
  <!-- the scope of "AddAnnounceCtrl" should be a child of the scope of "MainCtrl" -->
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <span class="glyphicon detail-action-toggle" ng-class="{'glyphicon-plus': !elem.followed, 'glyphicon-minus': elem.followed}" ng-click="followOrUnfollow()" ng-show="user.account_id!==elem.account_id" style="margin-right: 30px"></span>
    <img src="img/default_icon.jpeg" class="img-circle detail-avatar" alt="icon"/>
    <span class="glyphicon glyphicon-envelope detail-action-toggle" ng-show="user.account_id!==elem.account_id" ng-click="openSendMessageModal()" style="margin-left: 30px"></span>
    <h3 class="modal-title" style="margin-top: 6px">{{ elem.title + ' ' + elem.first_name + ' ' + elem.last_name }}</h3>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td> <b>Gender: </b></td>
            <td> {{ elem.sex === 'F'? 'Female': 'Male' }} </td>
          </tr>
          <tr>
            <td> <b>Organization: </b></td>
            <td> {{ elem.organization}}</td>
          </tr>
          <tr>
            <td> <b>City: </b></td>
            <td> {{ elem.city  + '  ' + elem.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-sm my-btn" ng-show="elem.account_type!=='admin'" ng-click="openDetailModal('/pages/add_reward.html', elem)">Add Reward</button>
  </div>
  <div class="modal-footer">
    <a class="btn btn-sm btn-default" ng-click="closeModal()">Close</a>
  </div>
</div>
